.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.subcontainer {
  display: flex;
}

.sidebar {
  width: 320px;
  height: max-content;
}

.view {
  height: 100vh;
  width: calc(100% - 320px);
  z-index: 1;
}
