.bg {
  position: absolute;
  width: 4645.63px;
  height: 4195.22px;
  top: -779px;
  left: 100px;
  background: linear-gradient(180deg, rgba(0, 115, 179, 0) 0%, #0073b3 100%);
  transform: rotate(-30deg);
  z-index: 0;
}
