@use '../../../../../styles.scss' as root;

.home {
  min-height: 3240px;
}

main {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
}

.cards {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-gap: clamp(2rem, 5vw, 9rem);
}
.title {
  position: relative;
  height: 100vh;
  left: root.$margin-left;
  width: 53.125rem;
  display: grid;
  grid-template-rows: 1fr 1fr 0.75fr;
  h1 {
    align-self: end;
    position: inherit;
  }
  .slogan {
    padding-left: 7.125rem;
    margin-top: 4rem;
    width: 33.75rem;
    color: white;
    align-self: start;
    position: inherit;
  }
}
