@use '../../../../../styles.scss' as root;

.blue-gradient {
  position: absolute;
  width: 100%;
  height: clamp(1000px, 150%, 1500px);
  background: linear-gradient(
    180deg,
    rgba(0, 115, 179, 0) 0%,
    root.$accent 100%
  );
  z-index: -10;
  transform: skewY(-30deg);
  transform-origin: top left;
}

.background-landing {
  z-index: -1;
  width: 100vw;
  overflow-x: hidden;
}

.rhomb-container-2,
.rhomb-container-1 {
  position: absolute;
  top: 30vh;
  right: 0;
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rhomb-container-1 {
  top: 40vh;
  right: auto;
  left: 0;
  width: 1000px;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rhomb-2,
.rhomb-1 {
  position: absolute;
  left: 400px;
  height: 800px;
  width: 800px;
  border-radius: 40px;
  transform: rotate(-45deg) skew(15deg, 15deg);
  background: root.$white-custom;
  box-shadow: root.$shadow;
  z-index: -9;
}

.rhomb-1 {
  top: 100px;
  left: auto;
  right: 900px;
  height: 400px;
  width: 400px;
}

.computer {
  z-index: -8;
  position: absolute;
  top: 0;
  left: 300px;
  transform: scale(0.75);
}
