@use '../../../../../styles.scss' as stylesRoot;


.container {
    width: 320px;
    height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: stylesRoot.$white-custom;
    padding: 54px 40px;
    left: 640px;
    margin-top: -54px;
    // margin-left: 320px;
}

mat-divider {
    background-color: stylesRoot.$black;
}

.title {
    margin: 0;
}