@use '../../../../../styles.scss' as stylesRoot;

.sidebar {
  position: fixed;
  width: 320px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: #000000;
}

.logo img {
  position: absolute;
  left: 10.4%;
  right: 12.49%;
  top: 8.33%;
  bottom: 86.11%;
  cursor: pointer;
}

.menu {
  width: 320px;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  left: 0px;
}

// app-link-menu {
//   width: 100%;
// }
