@use '../../../../../styles.scss' as stylesRoot;

.sidebar {
  position: fixed;
  width: 320px;
  height: 900px;
  left: 0px;
  top: 0px;
  background-color: #000000;
}

.logo img {
  position: absolute;
  left: 10.4%;
  right: 12.49%;
  top: 8.33%;
  bottom: 86.11%;
  cursor: pointer;
}

.menu {
  width: 100%;
  position: absolute;
  top: 21.44%;
}

// app-link-menu {
//   width: 100%;
// }
