@use '../../../../../styles.scss' as root;

.navbar {
  display: flex;
  justify-content: space-between;
  height: 5.375rem;
  align-items: center;
  padding: 0 10vw;
}

.navbar-switch > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-content,
.left-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  & button {
    margin: 0 1.25rem;
  }
}

.links {
  width: fit-content;
  padding: 0;
}

.button-logo {
  padding: 0.5rem;
  padding-left: 0;
  cursor: pointer;
  margin-right: 1rem;
  :hover {
    animation: animation-vertical 1s ease-in-out 1;
  }
  & img {
    width: 15.76rem;
    height: 3.125rem;
  }
  :active {
    transform: scale(0.95);
  }
}

.button-primary {
  padding: 0;
  margin-left: 1rem;
}
