@use '../../../../../styles.scss' as stylesRoot;

.title {
  margin: 0 0 10px 0;
}

table {
  width: 100%;
  background-color: stylesRoot.$white-custom;
}

.table-header {
  color: #000000;
  text-align: center;
  font-weight: 700;
}

.table-data {
  text-align: center;
}

.actions {
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
}

.table-actions {
  height: 100%;
  // display: flex;
  // justify-content: space-between;
}

.delete-btn {
  color: stylesRoot.$white-custom;
}

.actions-row {
  width: 30%;
}
