@use '../../../../../styles.scss' as rootStyles;

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.mat-icon::before {
    transition: all .3s ease-in;
}

.admin, mat-icon {
    color: rootStyles.$primary;
    // fill: rootStyles.$primary;
}

.admin:hover, .admin:hover mat-icon, .active {
    color: rootStyles.$white-custom;
    background-color: rootStyles.$accent;
    border-radius: 0px 10px 10px 0px;
}



