.admin-border {
  // left: 18.75%;
  // right: 70.31%;
  margin-bottom: 26px;
  bottom: 88.89%;
  width: 210px;
  border: 3px dashed #078bd7;
  box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
    0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
  transform: matrix(1, 0, 0.08, 1, 0, 0);
  border-radius: 1em;
}
