/* You can add global styles to this file, and also import other style files */
$accent: #078bd7;
$primary: #ffa630;
$white-custom: #fafffd;
$black: #000000;
$shadow: 0px 24px 38px rgba(0, 0, 0, 0.14), 0px 9px 46px rgba(0, 0, 0, 0.12),
  0px 11px 15px rgba(0, 0, 0, 0.2);

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 1rem;
  border-radius: 0.5rem;
  border: 0.25rem solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset $accent 0 0 0 0.25rem;
}
*::-webkit-scrollbar {
  background-color: $black;
  border-radius: 0;
}

.italic-font {
  font-style: italic;
}

$margin-left: 10vw;

.back-white::before {
  content: attr(back);
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  z-index: -1;
  color: $white-custom;
}
.back-accent::before {
  content: attr(back);
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  z-index: -1;
  color: $accent;
}

body {
  background: $white-custom;
}

.button-primary {
  background-color: $primary;
  box-shadow: $shadow;
}

.mat-card {
  background-color: $white-custom !important;
  box-shadow: $shadow !important;
}
.fira-code {
  font-family: 'Fira Code', monospace;
}
.dotted-primary {
  width: 52rem;
  height: 0.3rem;
  margin-left: calc($margin-left * 2);
  background-image: repeating-linear-gradient(
      180deg,
      $primary,
      $primary 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      $primary 1.25rem
    ),
    repeating-linear-gradient(
      270deg,
      $primary,
      $primary 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      $primary 1.25rem
    ),
    repeating-linear-gradient(
      0deg,
      $primary,
      $primary 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      $primary 1.25rem
    );
  background-size: 5px 100%, 100% 5px, 5px 100%, 100% 5px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

.dotted-accent {
  width: 52rem;
  height: 0.3rem;
  margin-left: auto;
  background-image: repeating-linear-gradient(
      180deg,
      $accent,
      $accent 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      $accent 1.25rem
    ),
    repeating-linear-gradient(
      270deg,
      $accent,
      $accent 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      $accent 1.25rem
    ),
    repeating-linear-gradient(
      0deg,
      $accent,
      $accent 0.625rem,
      transparent 0.625rem,
      transparent 1.25rem,
      $accent 1.25rem
    );
  background-size: 5px 100%, 100% 5px, 5px 100%, 100% 5px;
  background-position: 0 0, 0 0, 100% 0, 0 100%;
  background-repeat: no-repeat;
}

// animations
/* Wobble Vertical */
@keyframes animation-vertical {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}

//Code Editors
// @import "~prismjs/themes/prism-okaidia";
@import 'node_modules/prismjs/themes/prism-tomorrow';
// @import "~prismjs/themes/prism-solarizedlight";
// @import "~prismjs/themes/prism";

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 15px;
  font-size: 100%;
  left: 0;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid rgb(179, 179, 179);
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: rgb(219, 219, 219);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
}
.box-animation {
  height: 36px;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 15px;
  text-align: center;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  border-radius: 4px;
}

.box-animation:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box-animation:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box-animation:hover {
  box-shadow: $shadow;
}

.box-animation:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.box-animation:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}
