@use '../../../../../styles.scss' as stylesRoot;

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .75em;
}

mat-divider {
    border-top-color: stylesRoot.$black;
    // border-top: 1px solid #000000;
    // border-bottom: 1px solid #000000;
}

.edit {
    background-color: stylesRoot.$white-custom;
}

.name {
    display: block;
    font-weight: 500;
    overflow: hidden;
    width: 100px;
    text-overflow: ellipsis;
}

.actions {
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

